 *{
    margin: 0;
} 
 
body{
    /* margin: 0; */
    background-color: #F9F9FD;
}

header{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    background-color: #151B2B;

    div.logo{
        
        img{
            width: 160px;
            height: 50px;
        }
        


        

    }

    div{
        max-width: 500px;
       
        color: white;
        
        h2{
            font-family: 'HK Grotesk';
            font-style: normal;
            font-weight: 800;
            font-size: 46px;
            line-height: 110%;
        }

        p:first-of-type{
            font-family: 'HK Grotesk';
            font-style: normal;
            font-weight: 600;
            font-size: 25px;
            line-height: 140%;

        }

        p:last-of-type{
            font-family: 'SF UI Text';
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 150%;

        }

    }

}